//debug
* { outline: 1px solid red; }

//breakpoint
$breakpoint__mobile: 769px;

//import variables
@import "variables/colors.scss";

//import font
@import "../font/font.scss";

//import menu burger
@import "burger.scss";

//import wordpress css
@import "wordpress.scss";

html {
    font-family: "space_mono_regular";
  }

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $noir;
}

//header
header .menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top:0px;
    background-color: #FFF;
    z-index: 99;
    .logo{
        padding-left: 146px;
    }
    nav{
        display:flex;
        align-items: center;
        padding-right: 146px;
        font-size: 1rem;
        text-transform: uppercase;
        .menu{
            display: flex;
            gap: 45px;
        }
        a:hover{
            font-weight: 700;
        }        
    }
}

#menuLinkMobile{
    display: none;
}

.containerHero{
    background-image: url(../img/hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-family: 'space_mono_bold_italic';
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #FFF;
        font-size: 6rem;
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        color: transparent;
    }
}

//footer
footer{
    display: flex;
    align-items:center;
    justify-content: center;
    .menu{
        display: flex;
        gap: 86px;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

//Formulaire de contact
#formContact{
    height: 769px;
    width: 597px;
    border: 5px solid #000;
    background: #FFF;
    p, input{
        font-family: "poppins_regular";
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 45px;
    }
    input, textarea{
        border-radius: 0.5rem;
        border: 1px solid $form-gris;
        background: #FFF;
        height: 20px;
        width: 243px;
        margin-top: 4px;
        padding: 10px;
    }
    textarea{
        height: 210px;
    }
    .wpcf7-submit{
        border-radius: 2px;
        background: $gris-medium;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
        width: 263px;
        height: 50px;
        padding: 8px 15px;
    }
    .formContactHeader{
        height: 106px;
        width: 100%;
        background-image: url(../img/contactHeader.png);
        background-origin: center;
        margin-top: 18px;
    }
}

@media (max-width: $breakpoint__mobile) {
    header .menu {
        justify-content: space-around;
        height: 72px;
        #menuLink{
        display : none;
        }
        .logo{
        padding-left: 0px;
        }
        .burger{
            display: unset;
        }
    }
    .menuLinkMobile.active{
        display: flex;
        ul{
            flex-direction: column;
            justify-content: center;
            gap: 18px;
            height: calc(100vh - 80px);
            width: 100vw;
            background-color: $rouge;
            a{
                font-size: 2.75rem;
                text-transform: uppercase;
                color: #FFF;
            }
        }
    }
    footer .menu{
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 0px;
    }
}