//header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: var(--wp-admin--admin-bar--height);
    background-color: $background;
    z-index: 10;
    position: fixed;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    width: 100%;
    box-sizing: border-box;


    .menu ul {
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-transform: uppercase;
        gap: 45px;

        a:hover {
            font-weight: 700;
        }
    }
}



@media (max-width: $breakpoint__mobile) {
    header {
        align-items: center;
        height: 72px;

        .logo {
            padding-left: 0px;
            img{
                height: 10px;
                width: auto;
            }
        }

        .burger {
            display: unset;
        }
    }

    .admin-bar{
        nav{
            top : calc(var(--wp-admin--admin-bar--height) + 72px);
        }
    
    }

    nav {
        display: flex;
        position: fixed;
        top: 72px;
        left: 100vw;
        overflow-x: hidden;
        transition: 0.3s;
        
        
        ul {
            flex-direction: column;
            justify-content: center;
            gap: 18px;
            height: calc(100vh - 72px);
            width: 100vw;
            background-color: $rouge;
            margin: 0;
            

            a {
                font-size: 2.75rem;
                text-transform: uppercase;
                color: #FFF;
            }

            a:hover {
                font-weight: 400;
            }
        }
    }

    nav.mobile {
        display: flex;
        left: 0;
        transition: 0.3s;

    }
}

@keyframes slide {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0px);
    }
}



