//filtre

.btnFiltre {
    display: flex;
    max-width: 260px;
    padding: 11px 18px;
    margin: 0px;
    border-radius: 8px;
    border: 1px solid $form-gris;
    background: $background;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;


    &.selected {
        border: 1px solid $bleu-CTA;
    }

    &.active {
        border-radius: 8px 8px 0 0;
        border: 1px solid $bleu-CTA;
    }

    .chevron {
        background-image: url(../img/chevron.svg);
        height: 20px;
        width: 20px;
        transition: all 0.2s;

        &.active {
            transform: rotate(180deg);
            transition: all 0.2s;
        }
    }

}


.filtreItems {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.4, 1);
}

.filtreItems.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    padding-top: 50px;
    cursor: pointer;
    max-height: 500px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.4, 1);

}

.filtreItem {
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: $bleu-fonce;
    margin: 0;
    height: 42px;
    box-sizing: border-box;
    width: 100%;

    &:hover {
        background: $rouge-tertiaire;
    }

    &:active {
        background: $rouge-secondaire;
    }

    &.selected {
        background: $rouge;
        color: white;
    }

}

.filtreContainer {
    display: flex;
    width: 80%;
    gap: 36px;
    margin-top: 80px;

    .flexColumn {
        max-width: 260px;
        width: 100%;
        // flex-direction: column;

    }

    .filtreTrier {
        margin-left: auto;

        .btnFiltre.selected {
            text-transform: none;
        }
    }
}

.CatalogueContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 40px;

    .photo_block {
        width: calc(50% - 10px);
        aspect-ratio: 1.14;
        overflow: hidden;

        @media (min-width: $breakpoint__mobile) {
            transition: transform .3s;

            &:hover {
                transform: scale(1.05)
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.btnContainer {
    margin: 40px 0;
}

//responsive

@media (max-width: $breakpoint__mobile) {
    .filtreContainer {
        flex-direction: column;
        align-items: center;
        width: 85%;
        gap: 8px;
        margin-top: 20px;

        .filtre {
            position: relative;

            .filtreItems {
                transition: none;
            }

            .filtreItems.active {
                position: absolute;
                z-index: 99;
                background-color: white;
                width: 100%;
                padding-top: 0;
                transition: none;
            }
        }

        .filtreTrier {
            margin-left: unset;
        }

        .flexColumn {
            max-width: 100%;

            .btnFiltre {
                max-width: 100%;
            }
        }
    }

    .CatalogueContainer {
        width: 90%;
        margin-top: 20px;

        .photo_block {
            width: calc(100%);
        }
    }
}