#lightbox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
}

.lightbox-wrapper {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    p {
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
    }

    .previous,
    .next {

        font-size: 0.75rem;

        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 4%;
        margin-right: 4%;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }

    .icon_prev {
        background-image: url(../img/icon_previous.svg);
        height: 16px;
        width: 25px;
    }


    .previous:hover {
        margin-left: calc(4% - 9px);

        .icon_prev {
            width: 34px;
            background-repeat: no-repeat;
            background-size: auto 100%;
        }
    }


    .icon_next {
        background-image: url(../img/icon_next.svg);
        height: 16px;
        width: 25px;
        background-position: right;
    }


    .next:hover {
        margin-right: calc(4% - 9px);

        .icon_next {
            width: 34px;
            background-repeat: no-repeat;
            background-size: auto 100%;

        }
    }

    .close {
        position: absolute;
        top: calc(5% + 32px);
        right: 5%;
        transform: translateY(-50%);
        background-image: url(../img/icon_croix.svg);
        height: 22px;
        width: 22px;
        cursor: pointer;
    }

    .photoLightboxContainer {
        display: flex;
        align-items: center;
        position: relative;
        max-height: 85vh;


        .refPhotoLightbox {
            position: absolute;
            bottom: -4%;
            left: 0;
        }

        .catPhotoLightbox {
            position: absolute;
            bottom: -4%;
            right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 85vh;
        }
    }
}