#lightbox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
}

.lightbox-wrapper {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint__mobile) {
        justify-content: center;
    }

    p {
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
    }

    .previous,
    .next {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 4%;
        margin-right: 4%;
        cursor: pointer;

        @media (max-width: $breakpoint__mobile) {
            position: absolute;
            top: 50%;
            // left: 2%;
            // right: 2%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.80);
            padding: 10px;
            border-radius: 10px;
            font-size: 0;
        }


        &:hover {
            @media (min-width: $breakpoint__mobile) {
                font-weight: 700;
            }
        }
    }

    .previous {
        @media (max-width: $breakpoint__mobile) {
            left: 2%;
        }
    }

    .next {
        @media (max-width: $breakpoint__mobile) {
            right: 2%;
        }
    }

    .icon_prev {
        background-image: url(../img/icon_previous.svg);
        height: 16px;
        width: 25px;
    }


    .previous:hover {
        @media (min-width: $breakpoint__mobile) {
            margin-left: calc(4% - 9px);

            .icon_prev {
                width: 34px;
                background-repeat: no-repeat;
                background-size: auto 100%;
            }
        }
    }


    .icon_next {
        background-image: url(../img/icon_next.svg);
        height: 16px;
        width: 25px;
        background-position: right;
    }


    .next:hover {
        @media (min-width: $breakpoint__mobile) {
            margin-right: calc(4% - 9px);

            .icon_next {
                width: 34px;
                background-repeat: no-repeat;
                background-size: auto 100%;

            }
        }
    }

    .close {
        position: absolute;
        top: calc(5% + 32px);
        right: 5%;
        transform: translateY(-50%);
        background-image: url(../img/icon_croix.svg);
        height: 22px;
        width: 22px;
        z-index: 2;
        cursor: pointer;

        @media (max-width: $breakpoint__mobile) {
            background-color: rgba(0, 0, 0, 0.80);
            border-radius: 23px;
            height: 46px;
            width: 46px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .photoLightboxContainer {
        display: flex;
        align-items: center;
        position: relative;
        max-height: 85vh;

        @media (max-width: $breakpoint__mobile) {
            max-height: 100vh;
        }


        .refPhotoLightbox {
            position: absolute;
            bottom: -4%;
            left: 0;

            @media (max-width: $breakpoint__mobile) {
                bottom: 15px;
                left: 15px;
                background-color: rgba(0, 0, 0, 0.80);
                padding: 10px;
                border-radius: 10px;
            }
        }

        .catPhotoLightbox {
            position: absolute;
            bottom: -4%;
            right: 0;

            @media (max-width: $breakpoint__mobile) {
                bottom: 15px;
                right: 15px;
                background-color: rgba(0, 0, 0, 0.80);
                padding: 10px;
                border-radius: 10px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 85vh;

            @media (max-width: $breakpoint__mobile) {
                max-height: 100vh;
                max-width: 100vw;
            }
        }
    }
}