//Single photo

.singlePhotoContainer {
    display: flex;
    flex-direction: column;
    max-width: 80%;

    .photoContainer {
        display: flex;
        width: 100%;

        .infoContainer {
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 20px;
            padding: 0 10px;
            margin-bottom: 37px;

            h2,
            p {
                width: 50%;
            }

            p {
                font-family: 'space_mono_regular';
            }
        }

        .photo {
            width: 50vw;
            overflow: hidden;
            padding: 0 10px;

            img {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
                object-position: center;                     
            }
        }
    }

    .contactContainer {
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        height: 118px;
        border-bottom: solid 1px #000;
        margin: 0px 10px;

        .contact {
            width: calc(50% - 10px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: solid 1px #000;

        }

        .pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 10px;

            .paginationPhoto {
                margin-top: 5px;

                .paginationPhotoPrev {
                    display: none;

                    &.active {
                        display: unset;
                    }
                }

                .paginationPhotoNext {
                    display: none;

                    &.active {
                        display: unset;

                    }
                }
            }

            .paginationBtn {
                display: flex;
                width: 80px;
                justify-content: space-between;
            }
        }
    }

    .otherContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
        margin-bottom: 110px;
        h3{
            margin-left : 10px;
        }
        .otherThumbnail {
            display: flex;
            justify-content: space-between;
            .photo_block{
                width: 50%;
                aspect-ratio: 1.14;
                margin: 10px;
                overflow: hidden;
                img {
                    width: 100%; 
                    height: 100%; 
                    object-fit: cover; 
                    object-position: center;                     
                }
                
            }
        }
    }
}